html { background: #aaa; }
body { background: #fff; border: 1px outset #999; color: #333;
  font: normal 90%/1.8 Arial,Helvetica,sans-serif; margin: 1em auto;
  padding: 10px 2em; width: 45em;
}
h1 { font-size: 140%; margin-bottom: 0; }
#help { color: #666; font-size: smaller; font-style: italic; line-height: 1.4em;
  margin: 0 0 2em;
}
#help p { margin-top: 0; }
form { background: #eee; border: 1px inset #ccc; margin: 1em 0;
  padding: 5px 0 5px 25px;
}
form.loading { background: #eee url(spinner.gif) 5px 50% no-repeat; }
textarea { vertical-align: text-top; }

#filelist { list-style: none; margin: 1em 0; padding: 0; }
#filelist li { padding-left: 25px; }
#filelist li:nth-child(odd) { background: #f4f4f4; }
#filelist li .comment { font-style: italic; margin: 0; }
